!!! 5
= render "c0da.html"
%html{lang: "en"}
	%head
		= render("head.html", conn: @conn, title: @page.title)
		%link{rel: "stylesheet", type: "text/css", href: "#{Routes.static_path(@conn, "/css/app.css")}"}
		%script{type: "text/javascript", src: "#{Routes.static_path(@conn, "/js/app.js")}"}
	%body
		%header.screen-only
			-# %img{src: "#{Routes.static_path(@conn, @header_img)}"}
		%div#main.flex-wrapper.flex-cols.hide-scroll
			%main.container.flex-item{role: "main"}
				%p.alert.alert-info{role: "alert"}= get_flash(@conn, :info)
				%p.alert.alert-danger{role: "alert"}= get_flash(@conn, :error)
				= @inner_content
			%aside#about.container.flex-item.screen-only
				%div.logo.gravatar
					%a{href: "/"}
						%img#gravatar{src: "#{@gravatar}", alt: "Gravatar"}
				%div.contents
					= render("nav.html", conn: @conn, page: @page, navtree: @navtree, scope: @scope || "")
					= render @view_module, "about.html", assigns
				%small
					This site is a continual work in progress. I would greatly appreciate bug
					reports, and also your patience as I build it.
				= render("logos.html", conn: @conn)
		= render("footer.html", conn: @conn)
