!!! 5
= render "c0da.html"
%html{lang: "en"}
	%head
		= render("head.html", conn: @conn, title: @page.title, flavor: @flavor)
		%script{type: "text/javascript", src: "#{Routes.static_path(@conn, "/js/mathjax.js")}"}
		%script{src: "https://polyfill.io/v3/polyfill.min.js?features=es6"}
		%script#MathJax-script{async: "true", src: "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"}
		- banner = Routes.static_path(@conn, "/images/#{@banner}")
		:css
			header {
				background-image: url("#{banner}");
			}
		- if @flavor == "app" do
			:css
				img#gravatar {
					transform: rotate(#{Home.rotate_avi()}deg);
				}
	%body
		%header{role: "banner"}.screen-only
			-# %img{src: "#{Routes.static_path(@conn, @header_img)}"}
		%div#main.flex-wrapper.flex-cols.hide-scroll
			%main.container.flex-item{role: "main"}
				= @inner_content
			%aside#about.container.flex-item.screen-only
				%div.logo.gravatar
					%a{href: "/"}
						%img#gravatar{src: "#{@gravatar}", alt: "Gravatar"}
				%div.contents
					= render("nav.html", conn: @conn, page: @page, navtree: @navtree, scope: @scope || "")
					= render @view_module, "about.html", assigns
				%small
					This site is a continual work in progress. I would greatly appreciate
					bug reports, and also your patience as I build it. Lots of old links
					are broken! You can access the old site at
					%a{href: "//old.myrrlyn.net"}
						%code old.myrrlyn.net
				= render("logos.html", conn: @conn)
		= render("footer.html", conn: @conn)
