!!! 5
= render "c0da.html"
%html{lang: "en-US"}
	%head
		= render("head.html", conn: @conn, title: @meta.title, flavor: @flavor, meta: @meta)
		= render_existing(@conn |> view_module, "head.html", assigns)
		- banner = Routes.static_path(@conn, "/images/#{@banner}")
		:css
			header {
				background-image: url("#{banner}");
			}
	- classes = @classes |> Enum.join(" ")
	%body{class: "#{classes}"}
		%header{role: "banner"}.screen-only
			-# %img{src: "#{Routes.static_path(@conn, @header_img)}"}
		%div#main.flex-wrapper.flex-cols.hide-scroll
			%main.container-md.flex-item{role: "main"}
				= @inner_content
			%aside#about.flex-item.screen-only
				%div.logo.gravatar
					%a{href: "/"}
						%img#gravatar{src: "#{@gravatar}", alt: "Gravatar"}
				%div#about-text.container-md
					= render @view_module, "about.html", assigns
					= render("nav.html", conn: @conn, page: @page, navtree: @navtree, scope: @scope || "")
					%small
						I recently rebuilt this site. I would appreciate bug reports, in
						presentation, content, or formerly-working links, at
						%a{href: "//github.com/myrrlyn/home"} the GitHub repository.
					= render("logos.html", conn: @conn)
		= render("footer.html", conn: @conn)
