%meta{charset: "utf-8"}
%meta{http-equiv: "X-UA-Compatible", content: "IE=edge"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
%title= @title || "myrrlyn.net"
%link{rel: "stylesheet", type: "text/css", href: "#{Routes.static_path(@conn, "/css/" <> @flavor <> ".css")}"}
%script{type: "text/javascript", src: "#{Routes.static_path(@conn, "/js/" <> @flavor <> ".js")}"}

- mkpair = &"#{&1}x#{&1}"
- for size <- [16, 32, 64, 128, 256, 512, 1024] do
	%link{rel: "icon", type: "image/png", sizes: "#{mkpair.(size)}", href: "/static/favicons/favicon-#{size}.png"}
	%link{rel: "apple-touch-icon", type: "image/png", sizes: "#{mkpair.(size)}", href: "/static/favicons/favicon-#{size}.png"}
%link{rel: "icon", type: "image/ico", sizes: "16x16 32x32 64x64 128x128 256x256 512x512 1024x1024", href: "/static/favicons/favicon.ico"}
%link{rel: "icon", type: "image/svg+xml", sizes: "any", href: "/oeuvre/images/tones.svg?color=cube-helix&key=d-major&classes=no-names,no-notes"}
%link{rel: "apple-touch-startup-image", type: "image/svg+xml", sizes: "any", href: "/oeuvre/images/tones.svg?color=cube-helix&key=d-major&classes=no-names,no-notes"}

%meta{name: "author", content: "Alexander Payne (myrrlyn)"}
- if @meta.summary do
	%meta{name: "description", content: "#{@meta.summary}"}

- for {name, content} <- @meta.meta do
	%meta{name: "#{name}", content: "#{content}"}

/ https://ogp.me/
%meta{name: "og:title", content: "#{@title}"}
-# TODO(myrrlyn): Bundle this into article metadata?
%meta{name: "og:type", content: "website"}
%meta{name: "og:image", content: "https://myrrlyn.net/static/favicons/favicon-512.png"}
%meta{name: "og:url", content: "https://myrrlyn.net#{["/" | @conn.path_info] |> Path.join()}"}

%meta{name: "twitter:card", content: "summary"}
%meta{name: "twitter:site", content: "@myrrlyn"}
%meta{name: "twitter:title", content: "#{@title}"}
%meta{name: "twitter:image", content: "https://myrrlyn.net/static/favicons/favicon-512.png"}
- if @meta.summary do
	%meta{name: "twitter:description", content: "#{@meta.summary}"}

- for embed <- @meta.props |> Map.get("embeds", []) do
	- if embed == "tweet" do
		%script{type: "text/javascript", async: "", src: "https://platform.twitter.com/widgets.js", charset: "utf-8"}
	- if embed == "mathjax" do
		%script{type: "text/javascript", src: "#{Routes.static_path(@conn, "/js/mathjax.js")}"}
		%script{src: "https://polyfill.io/v3/polyfill.min.js?features=es6"}
		%script#MathJax-script{async: "true", src: "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"}
