%nav{role: "navigation"}
	- if @page.toc != [] do
		Table of Contents
		%ol
			- for {show, ident, h3} <- @page.toc do
				%li
					%a{href: "##{ident}"}= show |> raw
					%ol
						-for {show, ident, []} <- h3 do
							%li
								%a{href: "##{ident}"}= show |> raw
	- text = "$ ls ~#{@scope}"
	%code= text
	%ul{style: "list-style-type: none; padding-left: 0;"}
		- for {show, url, perm} <- @navtree do
			%li
				%code.inline= perm
				%a{href: "#{url}"}= show |> raw
