%article
	%h1#title.title= @meta.title
	- if @meta.subtitle do
		%h2#subtitle.title= @meta.subtitle
	%p
		%a{href="//old.reddit.com/r/teslore/comments/#{@meta.props["reddit"]}"}
			Originally published to /r/teslore
		on
		- d = Timex.format!(@meta.date, "{YYYY}, {Mshort} {D} at {h24}:{m}")
		= d
	- if @page.toc != [] do
		%nav{aria-label: "Table of Contents"}
			= render(HomeWeb.LayoutView, "toc.html", toc: @page.toc)
	%hr
	- if intro = @meta.props |> Map.get("intro-music") do
		= render(HomeWeb.LayoutView, "audio.html", ident: "intro", audio: intro)
	= @page.content |> raw
	- if outro = @meta.props |> Map.get("outro-music") do
		= render(HomeWeb.LayoutView, "audio.html", ident: "outro", audio: outro )
