%article
	%h1#title.title= @page.title
	- if sub = @page.yaml |> Map.get("subtitle") do
		%h2#subtitle.title= sub
	%p
		%a{href="//old.reddit.com/r/teslore/comments/#{@page.yaml["reddit"]}"}
			Originally published to /r/teslore
		on
		- d = Timex.format!(@page.date, "{YYYY}, {Mshort} {D} at {h24}:{m}")
		= d
	- if @page.toc != [] do
		%nav{aria-label: "Table of Contents"}
			= render(HomeWeb.LayoutView, "toc.html", toc: @page.toc)
	%hr
	- if intro = @page.yaml |> Map.get("intro-music") do
		- repeat = intro |> Map.get("repeat", false)
		<audio id="intro-music"
			controls
			= if intro |> Map.get("repeat", false), do: "loop", else: ""
		>
			%source{src: "#{intro["src"]}"}
			%p
				Your browser does not support the
				%code &lt;audio&gt;
				element. The song is
				%em= intro |> Map.get("title", "unnamed")
				and you can download it yourself
				%a{href: "#{intro |> Map.get("src")}"} from this link
		</audio>
	= @page.content |> raw
%section
	%hr.afterword
	%h4 About the Text
	= @page.about |> raw
	- if outro = @page.yaml |> Map.get("outro-music") do
		<audio id="outro-music"
			controls
			= if outro |> Map.get("repeat", false), do: "loop", else: ""
		>
			%source{src: "#{outro["src"]}"}
			%p
				Your browser does not support the
				%code &lt;audio&gt;
				element. The song is
				%em= outro |> Map.get("title", "unnamed")
				and you can download it yourself
				%a{href: "#{outro |> Map.get("src")}"} from this link
		</audio>
