%article
	%section
		%h1#title= @meta.title
		- if summary = @meta.summary do
			%p= summary |> Earmark.as_html! |> raw
			%hr
		= @page.content |> raw
	%section
		%ol{reversed=""}
			- for {url, meta} <- @pages do
				%li
					%a.title{href: "#{url}"}= meta.title
					= "(#{Timex.format!(meta.date, "{ISOdate}")})"
					%br
					= meta.summary |> Earmark.as_html! |> raw
