%article
	%section
		= @page.content |> raw
	%section
		- for {name, group} <- HomeWeb.BlogController.grouped_by_category() do
			%h2= name
			%ol
				- for {url, meta} <- group do
					%li
						%a{href: "#{url}"}= meta.title
						= "(#{Timex.format!(meta.date, "{ISOdate}")})"
						%br
						= meta.summary |> Earmark.as_html! |> raw
