%article
	%h1#title= @meta.title
	- if subtitle = @meta.subtitle do
		%h2#subtitle.title= subtitle
	%p
		Published on
		- d = Timex.format!(@meta.date, "{YYYY}, {Mshort} {D}")
		= d
	%p= @meta.summary |> Earmark.as_html! |> raw
	- if @page.toc != [] do
		%nav{aria-label: "Table of Contents"}
			= render(HomeWeb.LayoutView, "toc.html", toc: @page.toc)
	%hr
	= @page.content |> raw
%script{type: "text/javascript", async: "1", src: "https://platform.twitter.com/widgets.js", charset: "utf-8"}
