%article
	%h1#title= @page.title
	%p
		Published on
		- d = Timex.format!(@page.date, "{YYYY}, {Mshort} {D}")
		= d
	%p= @page.summary |> raw
	- if @page.toc != [] do
		%nav{aria-label: "Table of Contents"}
			= render(HomeWeb.LayoutView, "toc.html", toc: @page.toc)
	%hr
	= @page.content |> raw
